<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <footer th:fragment="content">
        <div class="container">
            <div class="upper_half">
                <a href="#" th:text="${content.footer.zhihu}"></a>
                <a href="#" th:text="${content.footer.weibo}"></a>
                <a href="#" th:text="${content.footer.github}"></a>
            </div>
            <div class="second_half">
                <a href="#" th:text="${content.footer.resource}"></a>
                <a href="#" th:text="${content.footer.story}"></a>
                <a href="#" th:text="${content.footer.softworeArchitect}"></a>
                <a href="#" th:text="${content.footer.jvm}"></a>
                <a href="#" th:text="${content.footer.fastdfs}"></a>
                <a href="#" th:text="${content.footer.mongodb}"></a>
                <a href="#" th:text="${content.footer.docker}"></a>
                <a href="#" th:text="${content.footer.code}"></a>
            </div>
        </div>
    </footer>
</body>
</html>