<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorator="center/head">
<head>
    <meta name="description" th:content="写作"/>
    <link rel="stylesheet" th:href="@{/css/page/writing.css}"/>
    <script th:src="@{/javascript/page/writing.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="article_list col-md-2">
                    <ul id="bbox">
                        <li><a id="publish" href="javascript:publish()" title="发表博客">发表</a></li>
                        <li><a id="save" href="#" title="保存草稿"></a></li>
                    </ul>
                    <ul class="article">
                        <li th:each="article : ${content.body.articles}">
                            <a th:href="@{'javascript:getArticle(' + ${article.id} + ')'}" th:text="${article.title}"></a>
                            <a th:href="@{'javascript:deleteArticle(' + ${article.id} + ')'}">x</a>
                        </li>
                    </ul>
                </div>
                <div class="article col-md-10">
                    <input id="id" type="text" hidden="hidden"/>
                    <input id="title" type="text" placeholder="请在这里输入博客标题"/>
                    <input id="description" type="text" placeholder="博客描述"/>
                    <div id="content" contenteditable="true"><pre></pre></div>
                    <div id="topic">
                        <label th:each="topic : ${content.body.topics}">
                            <input type="radio" name="rd"><span th:text="${topic}"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>